.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.25;
  background: #2c2d31;
  height: 100%;

  &__top {
    display: flex;
    color: white;
    height: 5rem;
    padding: 25px 10px;
    justify-content: space-between;
    border-bottom: 3px solid var(--color-darkest-gray);
  }

  &__channels {
    flex: 1;
    &__headerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: gray;
      padding: 10px;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-addIcon {
      cursor: poiner;
      &:hover {
        color: white;
      }
    }
  }

  &__voice {
    &-voiceIcon,
    &__info h3 {
      color: var(--color-green);
    }
    &__info {
      flex: 1;
      p {
        font-size: smaller;
      }
    }
  }

  &__profile {
    &__info {
      flex: 1;
    }
    &__voiceIcons > .MuiSvgIcon-root {
      padding: 2px;
    }
  }

  &__voice,
  &__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid gray;
    color: white;
  }

  &__voice-voiceIcon,
  &__profile-profileIcon {
    margin-right: 10px;
  }
  &__voiceIcons,
  &__profileIcons {
    display: flex;
    flex-direction: column;
  }
}
