.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 300px; */
  background: var(--color-dark-gray);
  height: 100%;
}

.sidebar__top {
  display: flex;
  color: white;
  padding: 25px 10px;
  justify-content: space-between;
  border-bottom: 3px solid #27282d;
}

.sidebar__channels {
  flex: 1;
}

.sidebar__add-channel {
  cursor: poiner;
}
.sidebar__add-channel:hover {
  color: white;
}

.sidebar__channels__headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
}

.sidebar__channels-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar__voice,
.sidebar__profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid gray;
  color: white;
}

.sidebar__voiceInfo {
  flex: 1;
}

.sidebar__voiceIcon,
.sidebar__voiceInfo h3 {
  color: var(--color-green);
}

.sidebar__voiceInfo p {
  font-size: smaller;
}

.sidebar__voiceIcon,
.sidebar__profileIcon {
  margin-right: 10px;
}

.sidebar__voiceIcons > .MuiSvgIcon-root {
  padding: 2px;
}

.sidebar__profile {
}
.sidebar__profileInfo {
  flex: 1;
}
.sidebar__profileIcons {
}
