.chatHeader {
  display: flex;
  height: 5rem;
  width: 100%;
  border-bottom: 3px solid #27282d;
  color: gray;
  &__left {
    color: white;
    flex: 0.5;

    h3 {
      padding: 25px 10px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space-between;
    .MuiSvgIcon-root {
      cursor: pointer;
      color: gray;
      &:hover {
        color: white;
      }
    }
    &__search {
      display: flex;
      align-items: center;
      border: 2px solid var(--color-darkest-gray);
      border-radius: 3px;
      input {
        background: var(--color-dark-gray);
        padding: 3px;
        border: none;
        color: gray;
        outline-color: var(--color-darkest-gray);
      }
    }
  }
}
